<footer class="footer">
    <div class="links">
        <a href="https://github.com/leviarista/github-profile-header-generator/discussions" target="_blank"
            rel="noopener noreferrer">
            <b><u>Feedback</u></b>
        </a>
        <a href="https://github.com/leviarista/github-profile-header-generator/issues" target="_blank"
            rel="noopener noreferrer">
            <b><u>Issues</u></b>
        </a>
    </div>
    <div class="icons">
        <a href="https://github.com/leviarista/github-profile-header-generator" target="_blank"
            rel="noopener noreferrer">
            <img src="./images/github-logo-20.svg" alt="Github logo" />
        </a>
        <!-- <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/product-hunt.svg" width="20" height="20" alt="Product Hunt logo" />
        </a> -->
        <a href="https://ko-fi.com/L3L1BO773" target="_blank" rel="noopener noreferrer">
            <img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Buy Me a Coffee at ko-fi.com" style="width: 37px;" />
        </a>
        <a href="#special-message-modal" >
            <img src="./images/icons/heart-circle.svg" alt="info icon"
                style="background-color: #FFF; border-radius: 50%;" />
        </a>
        <a href="#info-modal">
            <img src="./images/icons/info.svg" alt="info icon" />
        </a>
    </div>
</footer>