<footer class="footer">
    <!-- <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>
        kofiwidget2.init('Support us', '#6E5494', 'leviarista');
        kofiwidget2.draw();
    </script> -->
    <div>
        <a class="feedback-button" href="#feedback-modal">
            Send feedback
        </a>
        <a href='https://ko-fi.com/L3L1BO773' target='_blank'><img height='36' style='border:0px;height:36px;'
                src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' border='0'
                alt='Buy Me a Coffee at ko-fi.com' /></a>
    </div>
    <div class="icons">
        <a href="https://github.com/leviarista/github-profile-header-generator" target="_blank"
            rel="noopener noreferrer">
            <img src="./images/github-logo-20.svg" width="20" height="20" alt="Github logo" />
        </a>
        <!-- <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/product-hunt.svg" width="20" height="20" alt="Github logo" />
        </a> -->
        <a href="#info-modal">
            <img src="./images/icons/info.svg" width="20" height="20" alt="info icon" />
        </a>
    </div>
</footer>