<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Profile Header Generator</title>
    <meta name="author" content="Leví Arista">
    <meta name="description" content="A simple but nice header image generator for your Github profile">
    <meta name="keywords"
        content="github profile header generator, github profile header, github header generator, github profile generator">
    <meta name="image" content="https://leviarista.github.io/github-profile-header-generator/gphg.png">

    <!-- Social Media Meta Tags -->
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Github Profile Header Generator">
    <meta itemprop="description" content="A simple but nice header image generator for your Github profile">
    <meta itemprop="image" content="https://leviarista.github.io/github-profile-header-generator/gphg.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Github Profile Header Generator">
    <meta name="twitter:description" content="A simple but nice header image generator for your Github profile">
    <meta name="twitter:site" content="@LeviArista">
    <meta name="twitter:creator" content="@LeviArista">
    <meta name="twitter:image:src"
        content="https://raw.githubusercontent.com/leviarista/github-profile-header-generator/main/social/social-preview-small.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Github Profile Header Generator">
    <meta name="og:description" content="A simple but nice header image generator for your Github profile">
    <meta name="og:image"
        content="https://raw.githubusercontent.com/leviarista/github-profile-header-generator/main/social/social-preview-small.png">
    <meta name="og:url" content="https://leviarista.github.io/github-profile-header-generator/">
    <meta name="og:site_name" content="Github Profile Header Generator">
    <meta name="og:type" content="website">

    <!-- Styles -->
    <link rel="stylesheet" href="./styles/index.scss">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="preload" as="style" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="preload" as="style"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Athiti&family=Della+Respira&family=Electrolize&family=Kalam&family=Lancelot&family=Life+Savers&family=Maven+Pro&family=Passero+One&family=Pixelify+Sans&family=Playball&family=Poppins&family=Quattrocento&family=Red+Hat+Display&family=Source+Code+Pro&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">

    <link rel="manifest" href="./site.webmanifest">

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Analytics -->
    <!-- <script src="https://cdn.counter.dev/script.js" data-id="4c163d75-71a1-43ff-adea-40e6a4f56cfe"
        data-utcoffset="-5"></script>
    <script data-goatcounter="https://levi-gphg.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
</head>