<header class="header">
    <h1>
        <img src="./images/gphg.svg" width="40" height="40" alt="Github logo" /><br />
        Github Profile <br />
        Header Generator
    </h1>
    <h2>
        A simple but nice header image generator <br /> for your Github profile
    </h2>
    <p class="github-button-container">
        <a class="github-button" href="https://github.com/leviarista/github-profile-header-generator"
            data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large"
            data-show-count="true" aria-label="Star leviarista/github-profile-header-generator on GitHub">
            Star
        </a>
    </p>
</header>