<section class="how-to-section">
    <h2 class="title">How to use it?</h2>
    <ol>
        <li>
            Create a nice github header image. <br />
            <video class="demo" src="./images/github-profile-header-generator-demo.webm" autoplay muted
                poster="./images/github-profile-header-generator-demo-poster.png">
                Github Profile Header Generator Demo
            </video>
        </li>
        <li>
            Create your GitHub profile README <br /> following
            <a href="https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/managing-your-profile-readme"
                target="_blank" rel="noopener noreferrer">
                <b>this guide</b>.
            </a>
        </li>
        <li>Upload your header to your profile/projecy repo.</li>
        <li>
            Add this line to your README:
            <p class="code"><code>![Header](./your-header-image-name.png)</code></p>
        </li>
    </ol>
</section>