<script defer type="module" src="./js/default-theme.js"></script>
<script defer type="module" src="./js/main.js"></script>
<script defer type="module" src="./js/toolbox-main.js"></script>
<script defer type="module" src="./js/toolbox-background.js"></script>
<script defer type="module" src="./js/toolbox-decorations.js"></script>
<script defer type="module" src="./js/tabs.js"></script>
<script defer src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>