<script defer type="module" src="./js/main.js"></script>
<script defer type="module" src="./js/toolbox-presets.js"></script>
<script defer type="module" src="./js/toolbox-main.js"></script>
<script defer type="module" src="./js/toolbox-background.js"></script>
<script defer type="module" src="./js/toolbox-decorations.js"></script>
<script defer type="module" src="./js/tabs.js"></script>
<script defer src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@zumer/snapdom/dist/snapdom.min.js"></script>