<div id="decorations-section" class="tabcontent scrollable">
    <div class="toolbox-decorations">
        <div class="decorations-size-inputs">
            <div>
                <label for="decoration-size-input">Decoration size (px):</label>
                <input type="range" name="decoration-size-input" id="decoration-size-input" value="100" min="10"
                    max="500">
                <output for="decoration-size-input">100</output>
            </div>
        </div>
        <div>Decorations:</div>
        <div class="decorations-buttons">
            <button type="button" class="btn" aria-label="no decorations" data-decoration-value="none">
                None
            </button>
            <button type="button" class="btn" aria-label="my-octocat decoration button"
                data-decoration-value="my-octocat.png">
                <img src="./images/decorations/my-octocat-thumbnail.png" alt="my-octocat decoration button" />
            </button>
            <button type="button" class="btn" aria-label="octocat decoration button"
                data-decoration-value="octocat.png">
                <img src="./images/decorations/octocat-thumbnail.png" alt="octocat decoration button" />
            </button>
            <button type="button" class="btn" aria-label="github-mark decoration button"
                data-decoration-value="github-mark.png">
                <img src="./images/decorations/github-mark-thumbnail.png" alt="github-mark decoration button" />
            </button>
            <button type="button" class="btn" aria-label="dev-badge decoration button"
                data-decoration-value="dev-badge.png">
                <img src="./images/decorations/dev-badge-thumbnail.png" alt="dev-badge decoration button" />
            </button>
            <button type="button" class="btn" aria-label="dev-rainbow decoration button"
                data-decoration-value="dev-rainbow.png">
                <img src="./images/decorations/dev-rainbow-thumbnail.png" alt="dev-rainbow decoration button" />
            </button>
            <button type="button" class="btn" aria-label="dev-white decoration button"
                data-decoration-value="dev-white.png">
                <img src="./images/decorations/dev-white-thumbnail.png" alt="dev-white decoration button" />
            </button>
            <button type="button" class="btn" aria-label="code decoration button" data-decoration-value="code.png">
                <img src="./images/decorations/code-thumbnail.png" alt="code decoration button" />
            </button>
            <button type="button" class="btn" aria-label="terminal decoration button"
                data-decoration-value="terminal.png">
                <img src="./images/decorations/terminal-thumbnail.png" alt="terminal decoration button" />
            </button>
            <button type="button" class="btn" aria-label="programming decoration button"
                data-decoration-value="programming.png">
                <img src="./images/decorations/programming-thumbnail.png" alt="programming decoration button" />
            </button>
            <button type="button" class="btn" aria-label="rocket decoration button" data-decoration-value="rocket.png">
                <img src="./images/decorations/rocket-thumbnail.png" alt="rocket decoration button" />
            </button>
            <button type="button" class="btn" aria-label="terminal-circle decoration button"
                data-decoration-value="terminal-circle.png">
                <img src="./images/decorations/terminal-circle-thumbnail.png" alt="terminal-circle decoration button" />
            </button>
            <button type="button" class="btn" aria-label="binary-code decoration button"
                data-decoration-value="binary-code.png">
                <img src="./images/decorations/binary-code-thumbnail.png" alt="binary-code decoration button" />
            </button>
            <button type="button" class="btn" aria-label="coding-screen decoration button"
                data-decoration-value="coding-screen.png">
                <img src="./images/decorations/coding-screen-thumbnail.png" alt="coding-screen decoration button" />
            </button>
            <button type="button" class="btn" aria-label="coding decoration button" data-decoration-value="coding.png">
                <img src="./images/decorations/coding-thumbnail.png" alt="coding decoration button" />
            </button>
            <button type="button" class="btn" aria-label="idea decoration button" data-decoration-value="idea.png">
                <img src="./images/decorations/idea-thumbnail.png" alt="idea decoration button" />
            </button>
            <button type="button" class="btn" aria-label="tabs decoration button" data-decoration-value="tabs.png">
                <img src="./images/decorations/tabs-thumbnail.png" alt="tabs decoration button" />
            </button>
            <button type="button" class="btn" aria-label="apple decoration button" data-decoration-value="apple.png">
                <img src="./images/decorations/apple-thumbnail.png" alt="apple decoration button" />
            </button>
        </div>
        <div class="decorations-upload">
            <label for="decoration-size-input">Upload your own decoration:</label>
            <input type="file" id="decoration-upload-input" class="btn" aria-label="Upload decoration" />
            <div class="preview-decoration" alt="Preview uploaded decoration"></div>
            <span class="myoctocats-tip">
                💡Use an octocat from the
                <a href="https://octodex.github.com/" target="_blank" rel="noopener noreferrer">Github
                    Octodex</a>
                <br />
                💡Or build your own at
                <a href="https://myoctocat.com/" target="_blank" rel="noopener noreferrer">MyOctocat.com</a>
                <!-- <br />
                &emsp; (My octocat looks like broken but you can copy the svg result) -->
            </span>
        </div>
    </div>
</div>