<div id="presets-section" class="tabcontent scrollable">
    <p>Choose a preset theme or customize your own with the options above.</p>
    <br>
    <div class="toolbox-presets">
        <div role="button" class="theme-button theme-button-white">
            Create my own
        </div>
        <!-- <a href="https://github.com/leviarista/github-profile-header-generator" target="_blank"
            rel="noopener noreferrer" class="theme-button theme-button-white">
            Upload theme
        </a> -->
    </div>
</div>