:root {
    --button-border-radius: 7px;
    --input-border-radius: 7px;
    --text-color: white;
    --paddings: 25px;
    --github-dark-mode-color: #0d1117;
    --github-light-mode-color: white;
}

.main-container {
    margin: 0 auto;
    padding: 25px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px calc(100% - 300px - 25px - 45px) 25px;
    grid-gap: 15px 40px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header section2 section2 section2 section2"
        "section1 section1 section2 section2 section2 section2"
        "footer footer section2 section2 section2 section2";
    background: linear-gradient(180deg, #6e5494 0%, #605fa1 32.6%, #4e6db3 68.54%, #4078c0 100%);
    color: var(--text-color);
    font-family: "Red Hat Display", sans-serif;
}

a:link,
a:visited {
    color: var(--text-color);
    text-decoration: none;
}

input,
select,
.align-buttons button {
    height: 35px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: var(--input-border-radius);
    font-family: "Red Hat Display", sans-serif;
    color: var(--text-color);

    &:focus {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
        outline: transparent;
        // filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    }

    &::placeholder {
        color: #cccccc;
        font-family: "Red Hat Display", sans-serif;
    }
}

button {
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));

    img {
        margin-bottom: 5px;
    }

    span {
        font-family: "Kalam";
    }

    h4 {
        margin-top: 15px;
        font-style: italic;
    }
}

.theme-selector-box {
    grid-area: section1;
    text-align: center;

    .theme-options-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 15px;
        place-items: center;
        padding: 25px 0;
    }

    .theme-option {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--button-border-radius);
        transition: all 0.25s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.25);
        }
    }

    .theme-github {
        background: radial-gradient(50% 50% at 50% 50%, #333333 0%, #010101 100%);
        color: #ffffff;
        border: 1px solid #ffffff;

        &.active {
            border-width: 2px;
        }
    }
}

.toolbox-container {
    grid-area: section2;
    // text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.25);

    .result-box {
        // height: 300px;
        padding: var(--paddings);
        border-radius: 10px 10px 0px 0px;
        background: var(--github-dark-mode-color);

        &.light-mode {
            background: var(--github-light-mode-color);
        }

        #github-header-image {
            margin: 0 auto;
            border: none;
            overflow: hidden;
        }

        .options-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: var(--paddings) 0 0 0;

            button {
                width: 155px;
                height: 35px;
                border: 1px solid #ffffff;
                border-radius: var(--button-border-radius);
                color: var(--text-color);
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                transition: all 0.25s ease-in-out;

                &:hover {
                    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.25);
                }

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }

            .dark-mode-button {
                background: #71486f;
            }
            .download-button {
                background: #38c481;
            }
            .randomize-button {
                background: #10b2d6;
            }
        }
    }

    .toolbox {
        padding: var(--paddings);

        > div:not(:last-child) {
            margin-bottom: 15px;
        }

        .text-inputs {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            input {
                width: calc(50% - 7.5px);
            }
        }

        .color-selectors-container {
            display: flex;
            flex-wrap: wrap;

            div {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    margin-left: 5px;
                    cursor: pointer;
                    padding: 0;
                }
            }
        }

        .size-inputs {
            display: flex;
            flex-wrap: wrap;

            div {
                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    margin-left: 5px;
                }
            }

            .paddings-input {
                width: 100px;
            }
        }

        .align-buttons {
            display: flex;
            align-items: center;

            button {
                margin-left: 5px;
            }
        }

        .font-selectors-container {
            display: flex;

            div {
                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    margin-left: 5px;
                }
            }

            select {
                cursor: pointer;
                margin-left: 5px;

                option {
                    color: black;
                }
            }
        }

        .font-size-inputs{
            display: flex;

            div {
                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    margin-left: 5px;
                }
            }
        }
    }
}

.footer {
    grid-area: footer;

    a {
        margin-top: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;

        &:hover {
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        }
    }

    img {
        margin-left: 5px;
    }
}

@media (max-width: 768px) {
    :root {
        --paddings: 15px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 25px 5%;
    }
    .toolbox-container {
        input {
            margin-bottom: 5px;
        }

        .result-box {
            .options-container {
                button {
                    width: 100%;
                    &:not(:last-child) {
                        margin-bottom: 10px;
                        margin-right: 0;
                    }
                }
            }
        }

        .toolbox {
            .text-inputs {
                input {
                    width: 100%;
                    &:not(:last-child) {
                        // margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
