<div id="info-modal" class="modal">
    <div>
        <a href="#" title="Close" class="modal-close">
            <img src="./images/icons/close.svg" width="15" height="15" alt="close icon" />
        </a>
        <div class="modal-title"><b>Info & Credits</b></div><br />
        <p>
            Many of the patterns are here thanks to
            <a href="https://heropatterns.com/" target="_blank" rel="noopener noreferrer">Hero Patterns
            </a>
            and
            <a href="https://www.svgbackgrounds.com/" target="_blank" rel="noopener noreferrer">
                SVGBackgrounds.com
            </a>
        </p><br />
        <p>
            Code icons created by <a href="https://www.flaticon.com/free-icons/code" title="code icons" target="_blank"
                rel="noopener noreferrer">Freepik - Flaticon</a>
        </p><br />
        <div class="modal-info-text"><br />
            This website is not affiliated, associated, authorized, endorsed by, or in any way officially
            connected with GitHub, or any of its subsidiaries or its affiliates. The official GitHub website can
            be found at
            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                https://github.com
            </a><br /><br />
            The name “GitHub” as well as related names, marks, emblems and images are registered trademarks
            of GitHub.
        </div>
    </div>
</div>