<div id="special-message-modal" class="modal">
    <div>
        <a href="#" title="Close" class="modal-close">
            <img src="./images/icons/close.svg" width="15" height="15" alt="close icon" />
        </a>
        <div class="modal-title"><b>Good news!</b></div><br />
        <div style="display: flex; gap: 5px; flex-direction: column; align-items: center; justify-content: center; font-weight: bold;">
            <span>Jesus loves you</span>
            <img src="./images/icons/heart.svg" alt="info icon" style="width: 25px;" />
        </div>
        <div style="text-align: center;">
            <a href="https://gideons.org/find-hope/" target="_blank" rel="noopener noreferrer">
                <u>Find Hope</u>
            </a>
        </div>
        <br />
        <div style="text-align: center;">
            <q>
                <i>
                    For God so loved the world, that he gave his only Son, that whoever believes in him should not
                    perish but have eternal life.
                </i>
            </q>
        </div>
        <div style="margin-top: 5px; text-align: center;"><b>John 3:16</b></div>
    </div>
</div>