.how-to-section {
    margin-top: 2rem;
    margin-bottom: 25px;
    text-align: center;
    flex-grow: 1;

    .title {
        font-family: "Kalam", sans-serif;
    }

    li {
        list-style-position: inside;
        margin-top: 10px;

        .demo {
            margin-top: 10px;
        }

        a {
            text-decoration: underline;
        }

        .code {
            margin: auto;
            margin-top: 5px;
            width: fit-content;
            padding: 5px 10px;
            background-color: #22272e;
            border-radius: 5px;

            code {
                font-size: 0.9rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .how-to-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
