body {
    background-color: #605FA1;
}

.main-container {
    margin: 0 auto;
    display: flex;
    color: var(--text-color);
    font-family: var(--main-font-familiy);
    background: #446BAF;
    background: linear-gradient(180deg, #675494 0%, #605fa1 32.6%, #4e6db3 68.54%, #4078c0 100%);
}

.left-container {
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 2;
    // background-color: #312149;
    background: rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255, .25);
    z-index: 30;
}

.toolbox-container {
    width: calc(100% - 300px - (var(--paddings) * 2));
    padding: 0;
    // background: rgba(255, 255, 255, 0.15);
    background: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.scrollable {
    &::-webkit-scrollbar {
        width: 0.4em;
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        //
    }
}

a:link,
a:visited {
    color: var(--text-color);
    text-decoration: none;
}

input,
select,
.btn {
    height: 35px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: var(--input-border-radius);
    font-family: var(--main-font-familiy);
    color: var(--text-color);

    &:focus {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
        outline: transparent;
        // filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    }

    &::placeholder {
        color: #cccccc;
        font-family: var(--main-font-familiy);
    }
}

textarea {
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: var(--input-border-radius);
    font-family: var(--main-font-familiy);
    color: var(--text-color);

    &:focus {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
        outline: transparent;
    }
}


input[type="range"] {
    // width: 100%;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.467);
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    // cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #6e5494;
        border: solid white 1px;
        border-radius: 50%;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #6e5494;
        border: solid white 1px;
        border-radius: 50%;
        cursor: pointer;
    }
}

input[type="file"] {
    width: 120px;
    padding: 0;
    font-family: var(--main-font-familiy);
    color: var(--text-color);

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        height: 35px;
        content: "Select an image";
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.15);
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        font-family: var(--main-font-familiy);
        color: var(--text-color);
        border: 1px solid rgb(255, 255, 255, 0.5);
        border-radius: var(--input-border-radius);
    }

    &:hover::before {
        border-color: rgb(255, 255, 255);
    }

    &:active {
        outline: 0;
        transition: all 1s;
    }

    // &:active::before {
    //     background: -webkit-linear-gradient(top, #e3e3e3, #9976ce);
    // }
}

input[type="color"] {
    border-radius: 2px;
}

output {
    min-width: 25px;
}

button {
    font-family: var(--main-font-familiy);
    font-size: 14px;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));

    img {
        margin-bottom: 15px;
    }

    h1 {
        line-height: 1;
    }

    h2 {
        margin-top: 15px;
        font-size: 14px;
        font-style: italic;
    }

    .github-button-container {
        margin-top: 15px;
    }
}

.footer {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: end;

    .links {
        display: flex;
        gap: 15px;

        >a {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:hover {
                text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
            }

        }
    }

    .icons {
        display: flex;
        gap: 15px;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 30px;
                transition: all ease 500ms;

                &:hover {
                    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.7));
                }
            }
        }
    }

    // FF5F5F
    // 40DCA5
    // 5F7FFF
    // FFDD00
    // BD5FFF
    // 794bc4
    // 6E5494

    .feedback-button {
        background-color: #6E5494;
        box-shadow: 1px 1px 0px rgb(0 0 0 / 20%);
        line-height: 35px !important;
        min-width: 135px;
        display: inline-block !important;
        padding: 2px 12px !important;
        text-align: center !important;
        border-radius: 7px;
        color: #fff;
        cursor: pointer;
        overflow-wrap: break-word;
        vertical-align: middle;
        border: 0 none #fff !important;
        // font-family: 'Quicksand', Helvetica, Century Gothic, sans-serif !important;
        text-decoration: none;
        text-shadow: none;
        font-weight: 600 !important;
        font-size: 14px !important;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-container {
        background: inherit;
        // display: none;
        padding-bottom: 2rem;

        .how-to-section {
            // display: none;
        }

        footer {
            // display: none;
        }
    }

    .toolbox-container {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}