.toolbox-container {
    .result-box {
        // height: 300px;
        padding: 2rem 2rem 0.5rem 2rem;
        background: var(--github-dark-mode-color);
        transition: 0.5s ease;
        user-select: none;
        position: relative;
        z-index: 20;

        &.light-mode {
            background: var(--github-light-mode-color);

            .dark-mode-button,
            .randomize-button {
                color: black !important;

                &:hover {
                    // box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.25);
                    text-shadow: 0px 0px 10px #929292 !important;
                }
            }
        }

        .header-image-container {
            width: 100%;
            flex-grow: 1;
            // max-width: calc(1280px - 296px - 24px);
            max-width: calc(850px);
            margin: auto;
            width: 100%;
            filter: drop-shadow(0px 0px 5px rgba(125, 125, 125, 0.5));
        }

        #github-header-image {
            width: 100%;
            height: 230px;
            padding: 25px;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            background-color: #446BAF;
            color: white;
            border-radius: 7px;
            margin: 0 auto;
            border: none;
            overflow: hidden;
            background-size: 200px;
            transition: 0.25s ease;

            .title,
            .subtitle {
                transition: 0.25s ease;
            }

            img {
                transition: 0.15s;
            }
        }

        .options-container {
            max-width: calc(850px);
            margin: auto;
            user-select: none;
            display: flex;
            align-items: center;
            gap: 35px;
            justify-content: space-between;
            // flex-wrap: wrap;
            padding: 1rem 0 0.5rem 0;
            overflow: auto;

            >div:first-child {
                display: flex;
                gap: 2rem;
            }

            .dark-mode-button,
            .randomize-button,
            .download-button {
                background-color: transparent;
                display: flex;
                gap: 7px;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 35px;
                // border: 1px solid #ffffff;
                // border-radius: var(--button-border-radius);
                color: var(--text-color);
                // text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                white-space: nowrap;
                transition: all 0.25s ease-in-out;
                cursor: pointer;

                img {
                    transition: all ease 500ms;
                }

                &:hover {
                    // box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.25);
                    text-shadow: 0px 0px 10px rgb(255, 255, 255);

                    img {
                        transform: scale(1.2);
                    }
                }
            }

            .download-button,
            .display-button,
            .miniature-button {
                background-color: #2D8655 !important;
                // border: 1px solid #ffffff;
                border-radius: var(--button-border-radius);
                padding: 5px 15px;
            }
        }
    }

    .toolbox-tools {
        height: calc(100vh - 230px - 3rem - 35px - 1rem);
        overflow: auto;
        padding: 1rem 1rem 4rem 1rem;
    }

    .toolbox {
        box-sizing: border-box;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        .text-inputs {
            justify-content: space-between;

            input {
                text-align: center;
                width: calc(50% - 7.5px);
            }
        }

        .color-selectors-container {
            div {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    margin-left: 5px;
                    cursor: pointer;
                    padding: 0;
                }
            }
        }

        .size-inputs {
            >div {
                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    width: 70px;
                    margin-left: 5px;
                }
            }

            .paddings-input {
                width: 100px;
            }
        }

        .align-buttons {
            button {
                margin-left: 5px;
            }
        }

        .font-selectors-container {
            div {
                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    margin-left: 5px;
                }
            }

            select {
                cursor: pointer;
                margin-left: 5px;

                option {
                    color: black;
                }
            }
        }

        .font-size-inputs {
            display: flex;

            div {
                display: flex;
                align-items: flex-start;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                input {
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .toolbox-container {
        input {
            margin-bottom: 5px;
        }

        .result-box {
            padding: 1rem 1rem 0.5rem 1rem;

            #github-header-image {
                height: 250px;
            }

            .options-container {
                gap: 10px;

                >div:first-child {
                    gap: 10px;
                }
            }
        }

        .toolbox-tools {
            height: auto;
        }

        .toolbox {
            .text-inputs {
                input {
                    width: 100%;
                    // &:not(:last-child) {
                    //     margin-bottom: 10px;
                    // }
                }
            }

            .font-selectors-container {
                >div {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }

            .font-size-inputs {
                input {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .toolbox-container {
        .result-box {
            .options-container {
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;

                >div:first-child {
                    gap: 10px;
                }
            }
        }

    }

}