.tablinks[data-name="test-fonts-section"] {
    position: fixed;
    right: 0;
    transform: translateX(100%);
    z-index: 100
}

#test-fonts-section {
    font-size: 20px;
    padding: 50px 0 100px 50px;
    background-color: #222;
    color: white;
}

.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kalam {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.maven-pro {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.athiti {
    font-family: "Athiti", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-sans {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.istok-web {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.courgette {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.quattrocento {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
}

.della-respira {
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
}

.lato {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.martel {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
}

.lancelot {
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
}

.playball {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}


.life-savers {
    font-family: "Life Savers", serif;
    font-weight: 400;
    font-style: normal;
}

.anonymous-pro {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.playwrite-hu {
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.passero-one {
    font-family: "Passero One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.electrolize {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}